fail_fast: true

repos:
-   repo: https://github.com/myint/autoflake
    rev: v2.2.0
    hooks:
    -   id: autoflake
        args:
        -   --in-place
#        -   --remove-unused-variables
#        -   --remove-all-unused-imports

-   repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
    -   id: black
        args: [--diff, --preview, -l 79]

-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args:
        -   --line-length=79
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    -   id: mypy
        exclude: (^test/)
        args: [--show-error-codes]
        additional_dependencies: [types-requests, types-python-dateutil, types-waitress, types-PyYAML, pandas-stubs]
-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.9.0
    hooks:
    -   id: pretty-format-yaml
        args: [--autofix, --indent, '4', --preserve-quotes]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: pretty-format-json
        exclude: .*jsonld$
        args: [--autofix, --indent, '4', --no-sort-keys]

-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.9.0
    hooks:
    -   id: pretty-format-toml
        args: [--autofix]
-   repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
    -   id: toml-sort
        args: [-ia]
