name: pre-commit

on:
    pull_request:
    push:
        branches: [main]

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   name: Install uv
            uses: astral-sh/setup-uv@v5
            with:
                version: "0.6.17"
        -   name: Install dependencies
            run: |
                uv sync --group dev
        -   uses: pre-commit/action@v3.0.1
